<h3>Projects</h3>
<!-- Placed material cards within a material tab group to achieve tabbed view for all five projects -->
<mat-tab-group class="mat-tab-container">
  <mat-tab label="Project 1" class="project-1">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <app-online-bookstore></app-online-bookstore>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button></button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </mat-tab>
  <mat-tab label="Project 2" class="project-2">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <app-portfolio-website></app-portfolio-website>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button></button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </mat-tab>
  <mat-tab label="Project 3" class="project-3">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <app-war-game></app-war-game>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button></button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </mat-tab>
  <mat-tab label="Project 4" class="project-4">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <app-stock-portfolio></app-stock-portfolio>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button></button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
    <mat-tab label="Project 5" class="project-5">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            <app-todo-list></app-todo-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button></button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-tab>
  </mat-tab>
</mat-tab-group>
