<!-- Applies CSS styles when isDarkMode is toggled on -->
<div [ngClass]="{'darkMode' : isDarkMode}">
  <nav>
    <!--
    Binds the checkbox's state to isDarkMode and updates the state when toggled
    Reference: https://www.w3schools.com/angular/angular_model.asp
    -->
    <mat-checkbox [(ngModel)]="isDarkMode">Dark Mode</mat-checkbox>
  </nav>
  <!-- Components and mat-card added to app.component.html so that they get displayed on the webpage -->
  <app-header [personal]="mydata" [isDarkMode]="isDarkMode"></app-header>
  <app-about [personal]="mydata" [about]="about" [isDarkMode]="isDarkMode"></app-about>
  <app-projects [projects]="projects" [isDarkMode]="isDarkMode">
    <mat-card></mat-card>
    <router-outlet></router-outlet>
  </app-projects>
  <app-contact [socials]="links" [isDarkMode]="isDarkMode"></app-contact>
  <app-footer [footer]="footer" [isDarkMode]="isDarkMode"></app-footer>
</div>
